﻿<section style="margin: 100px auto; width: 570px;">
    <div class="panel-body">
        <div id="signupbox" class="mainbox col-sm-10 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Create an account <span style="float: right; font-size: 80%; position: relative;"> </span> </div>
                </div>
                <div class="panel-body">
                    <form id="signupform" class="form-horizontal" role="form" novalidate angular-validator name="userRegistrationForm" angular-validator-submit="register()">
                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="username" name="inputUsername" ng-model="user.username"
                                       placeholder="Username" validate-on="blur" required required-message="'Username is required'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="email" name="inputEmail" placeholder="Email" ng-model="user.email" validate-on="blur" required required-message="'Email is required'" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" id="password" name="inputPassword" placeholder="Password" ng-model="user.password" validate-on="blur" required required-message="'Password is required'" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Create </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
                                    Already have an account ! Sign In <a ng-href="login"> <u>here</u> </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>