﻿@charset "utf-8";

@media only screen and (max-width:768px) {
    .navbar-nav {
        margin: 0;
    }

    .fileupload-preview {
        width: 200px;
    }

    .inbox > aside, .inbox > section {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .inbox-messages {
        height: auto;
    }

    .logo {
        display: none;
    }

    .boxed-layout .headermenu {
        margin: 0;
    }

    .sticky-topbar .top-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .mini-navbar .sticky-topbar .top-header {
        position: fixed;
        top: 0;
        left: 70px;
        width: 100%;
        z-index: 100;
    }

    .main-content {
        position: relative;
        margin: 50px 0 0;
        height: 100%;
        min-height: 1000px;
        padding-left: 0;
    }

    .body-small .sidebar-nav {
        display: none;
    }

    .body-small.mini-navbar .sidebar-nav {
        display: block;
        z-index: 1;
        position: absolute;
        width: 70px;
        top: 50px;
        min-height: 1080px;
    }

    .sticky-topbar .top-header .dropdown-toggle {
        display: none;
    }

    .boxed-layout .container {
        position: relative;
        padding: 0;
    }

    .boxed-layout .top-header .dropdown-toggle {
        display: none;
    }

    .boxed-layout .wrapper {
        top: 50px;
        margin-left: 0;
    }

    .mini-navbar.boxed-layout .wrapper {
        top: 50px;
        margin-left: 70px;
    }

    .boxed-layout .footer {
        margin-left: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
        background-color: #fff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #fff;
            background-color: #20638F;
        }

    .dropdown-menu > li:first-child:after {
        display: none;
    }

    .dropdown-menu > li:first-child:before {
        display: none;
    }

    .lock-wrapper {
        margin: 15% auto;
    }

        .lock-wrapper input, .lock-wrapper input:focus {
            width: 100% !important;
        }

        .lock-wrapper .locked {
            right: 70px;
        }
}

@media screen and (max-width: 350px) {
    .navbar-nav {
        margin: 0;
    }

    .header-nav {
        display: none;
    }

    .lock-wrapper {
        margin: 30% auto;
    }

        .lock-wrapper input, .lock-wrapper input:focus {
            width: 100% !important;
        }

        .lock-wrapper .locked {
            right: 70px;
        }

    .main-content {
        position: relative;
        margin: 50px 0 0;
        min-height: 1000px;
    }

    .sidebar-nav {
        z-index: 101;
        position: absolute;
        top: 50px;
        height: 100%;
    }

    .mini-navbar .sidebar-nav {
        width: 70px;
        top: 50px;
        position: absolute;
    }

    .mini-navbar .dropdown-toggle {
        display: none;
    }

    .mini-sidebar .sticky-topbar .menu-right {
        display: none;
    }

    .boxed-layout .top-header .dropdown-toggle {
        display: none;
    }

    .boxed-layout .container {
        position: relative;
        padding: 0;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
        background-color: #fff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
            color: #fff;
            background-color: #20638F;
        }

    .dropdown-menu > li:first-child:after {
        display: none;
    }

    .dropdown-menu > li:first-child:before {
        display: none;
    }
}
