﻿@charset "utf-8";
@import "http://fonts.googleapis.com/css?family=Open+Sans:700,600,400";
@import "bootstrap.css";
@import "bootstrap-override.css";
@import "jquery-ui-1.10.3.css";
@import "font-awesome.min.css";
@import "custom-ico-fonts.css";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    vertical-align: baseline;
    outline: none;
}

body {
    color: #333;
    font-size: 12px;
    font-family: 'Open Sans',sans-serif;
    line-height: 22px;
}

a {
    outline: none;
    color: #333;
}

    a:hover {
        color: #333;
    }

    a:focus {
        outline: none;
        text-decoration: none;
    }

img {
    display: block;
}

iframe {
    display: block;
}

p strong {
    color: #333;
}

iframe {
    border: 0;
}

small {
    font-size: 11px;
}

.mute {
    color: #999;
}

a, a:focus, a:hover, a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border: 1px solid #eee;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
}

.np {
    padding: 0 !important;
}

.nm {
    margin: 0 !important;
}

.inline {
    display: inline;
}

.nb {
    border: none !important;
}

.pad-5 {
    padding: 5px !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-15 {
    padding: 15px !important;
}

.pad-20 {
    padding: 20px !important;
}

.ph-5 {
    padding: 0 5px !important;
}

.ph-10 {
    padding: 0 10px !important;
}

.ph-15 {
    padding: 0 15px !important;
}

.ph-20 {
    padding: 0 20px !important;
}

.pv-10 {
    padding: 10px 0 !important;
}

.pv-15 {
    padding: 15px 0 !important;
}

.pv-20 {
    padding: 20px 0 !important;
}

.pv-30 {
    padding: 30px 0 !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.height-45 {
    height: 45px !important;
}

.height-60 {
    height: 60px !important;
}

.height-70 {
    height: 70px !important;
}

.height-230 {
    height: 230px !important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.text-light {
    color: rgba(255,255,255,0.6);
}

a.text-light:hover {
    color: rgba(255,255,255,0.8);
}

.center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}

.text-small {
    font-size: 12px !important;
}

.text-large {
    font-size: 16px !important;
}

.text-azure {
    color: #00bdcc;
}

.text-orange {
    color: #f58a5c;
}

.text-green {
    color: #5cb85c;
}

.text-blue {
    color: #428bca;
}

.text-pink {
    color: #dd5a82;
}

.text-purple {
    color: #dd5a82;
}

.text-bricky {
    color: #894550;
}

.text-yellow {
    color: #ffb848;
}

.text-red {
    color: #e66b6b;
}

.text-white {
    color: #fff;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

blockquote {
    margin-left: 50px;
    color: #a1a1a1;
    font-style: italic;
}

    blockquote p {
        line-height: 30px;
        padding-bottom: 0 !important;
    }

.panel-toolbar {
    margin: -4px -5px;
}

.panel-heading .nav {
    border: medium none;
    font-size: 12px;
    margin: -6px 0 2px;
}

.blue-bg {
    background-color: #428bca;
    color: #FFF;
}

.orange-bg {
    background-color: #f58a5c;
    color: #FFF;
}

.purple-bg {
    background-color: #804c75;
    color: #FFF;
}

.pink-bg {
    background-color: #dd5a82;
    color: #FFF;
}

.azure-bg {
    background-color: #00d5e6;
    color: #FFF;
}

.bricky-bg {
    background-color: #9a4e5a;
    color: #FFF;
}

.tint-bg {
    background-color: #6bccb4;
    color: #FFF;
}

.green-bg {
    background-color: #26c281;
    color: #FFF;
}

.panel-default {
    border-color: #9933ff;
}

    .panel-default > .panel-heading {
        color: #fff;
        background-color: #9933ff;
        border-color: #9933ff;
    }

        .panel-default > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #9933ff;
        }

        .panel-default > .panel-heading .badge {
            color: #9933ff;
            background-color: #fff;
        }

    .panel-default > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #9933ff;
    }

.panel-orange {
    border-color: #f58a5c;
}

    .panel-orange > .panel-heading {
        color: #fff;
        background-color: #f58a5c;
        border-color: #f58a5c;
    }

        .panel-orange > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #f58a5c;
        }

        .panel-orange > .panel-heading .badge {
            color: #f58a5c;
            background-color: #fff;
        }

    .panel-orange > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #f58a5c;
    }

.panel-purple {
    border-color: #804c75;
}

    .panel-purple > .panel-heading {
        color: #fff;
        background-color: #804c75;
        border-color: #804c75;
    }

        .panel-purple > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #804c75;
        }

        .panel-purple > .panel-heading .badge {
            color: #804c75;
            background-color: #fff;
        }

    .panel-purple > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #804c75;
    }

.panel-pink {
    border-color: #dd5a82;
}

    .panel-pink > .panel-heading {
        color: #fff;
        background-color: #dd5a82;
        border-color: #dd5a82;
    }

        .panel-pink > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #dd5a82;
        }

        .panel-pink > .panel-heading .badge {
            color: #dd5a82;
            background-color: #fff;
        }

    .panel-pink > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #dd5a82;
    }

.panel-azure {
    border-color: #00d5e6;
}

    .panel-azure > .panel-heading {
        color: #fff;
        background-color: #00d5e6;
        border-color: #00d5e6;
    }

        .panel-azure > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #00d5e6;
        }

        .panel-azure > .panel-heading .badge {
            color: #00d5e6;
            background-color: #fff;
        }

    .panel-azure > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #00d5e6;
    }

.panel-bricky {
    border-color: #9a4e5a;
}

    .panel-bricky > .panel-heading {
        color: #fff;
        background-color: #9a4e5a;
        border-color: #9a4e5a;
    }

        .panel-bricky > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #9a4e5a;
        }

        .panel-bricky > .panel-heading .badge {
            color: #9a4e5a;
            background-color: #fff;
        }

    .panel-bricky > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #9a4e5a;
    }

.panel-tint {
    border-color: #6bccb4;
}

    .panel-tint > .panel-heading {
        color: #fff;
        background-color: #6bccb4;
        border-color: #6bccb4;
    }

        .panel-tint > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #6bccb4;
        }

        .panel-tint > .panel-heading .badge {
            color: #6bccb4;
            background-color: #fff;
        }

    .panel-tint > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #6bccb4;
    }

.panel-grey {
    border-color: #999eab;
}

    .panel-grey > .panel-heading {
        color: #fff;
        background-color: #999eab;
        border-color: #999eab;
    }

        .panel-grey > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #999eab;
        }

        .panel-grey > .panel-heading .badge {
            color: #999eab;
            background-color: #fff;
        }

    .panel-grey > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #999eab;
    }

.tools {
    margin: -7px -5px;
}

    .tools a {
        border-radius: 3px;
        -webkit-border-radius: 3px;
        color: #858582;
        float: left;
        margin-left: 3px;
        padding: 10px;
        text-decoration: none;
    }

        .tools a:hover {
            color: #858582;
        }

.sticky-topbar .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    background: #9933ff;
}

.sticky-topbar .logo-icon {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    background: #9933ff;
}

.sticky-topbar .sidebar {
    top: 50px;
}

.sticky-topbar .top-header {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    z-index: 100;
}

.sticky-topbar .main-content {
    padding-top: 50px;
}

.sticky-topbar .menu-right {
    margin-right: 220px;
}

.sticky-topbar .mini-navbar .top-header {
    left: 55px;
}

.mini-navbar .sticky-topbar .menu-right {
    margin-right: 90px;
}

.weather-widget {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

    .weather-widget i {
        margin-right: 5px;
    }

    .weather-widget .overlay-weather-info {
        position: absolute;
        z-index: 1;
        top: 15px;
        left: 15px;
        right: 15px;
    }

        .weather-widget .overlay-weather-info .weather-info-city {
            color: #fff;
            margin: 20px 0;
        }

            .weather-widget .overlay-weather-info .weather-info-city h4 {
                font-size: 16px;
                font-weight: 600;
            }

        .weather-widget .overlay-weather-info h4 {
            color: #fff;
            font-weight: 400;
        }

        .weather-widget .overlay-weather-info .weather-info-city h1 {
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        .weather-widget .overlay-weather-info i.weather-icon {
            font-size: 70px;
        }

    .weather-widget li a {
        display: block;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e7ebee;
        padding: 3px 20px;
        font-size: 12px;
        -webkit-transition: background-color .15s ease-in-out 0;
        transition: background-color .15s ease-in-out 0;
        color: #344644;
    }

    .weather-widget li:last-child a {
        border-bottom: none;
    }

    .weather-widget li a:hover {
        background-color: #e7ebee;
        text-decoration: none;
    }

    .weather-widget li a i {
        width: 24px;
    }

    .weather-widget li a span.label {
        margin-top: 10px;
    }

    .weather-widget li a i {
        font-size: 20px;
    }

    .weather-widget li a .d-value:after {
        content: "o";
        font-size: 12px;
        position: relative;
        top: -4px;
    }

.weather-current-city {
    background: url(../images/new-york-city.jpg) 100%;
    padding: 15px 20px;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.current-city {
    display: block;
    font-size: 1em;
    font-weight: 700;
}

.current-temp {
    display: block;
    font-weight: 700;
    letter-spacing: -3px;
    font-size: 3em;
    text-shadow: 1px 2px 3px rgba(0,0,0,.2);
    line-height: 1.8em;
}

.current-day {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
}

.current-day-icon {
    display: block;
    float: right;
    font-size: 5.2em;
    font-weight: 700;
    padding-top: 20px;
}

ul.days {
    list-style: none outside none;
    margin-top: 10px;
    padding: 0 10px;
    color: #fff;
}

    ul.days li {
        text-align: center;
        border-left: 2px solid rgba(255,255,255,.3);
        padding-bottom: 10px;
    }

        ul.days li strong {
            position: relative;
            border-radius: 3px;
            font-size: 1.1em;
            text-transform: uppercase;
            line-height: 25px;
            margin-bottom: 5px;
            display: block;
        }

        ul.days li span {
            display: block;
            font-weight: 700;
            letter-spacing: -1px;
            font-size: 1.9em;
        }

.list-inline > li > i {
    font-size: 16px;
}

#sidebar > li > a i {
    margin-right: 10px;
}

#sidebar {
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}

    #sidebar ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #sidebar li > a {
        color: #000;
        font-size: 12px;
        text-transform: uppercase;
        border-top: 1px dotted rgba(122,122,122,0.3);
        border-left: 3px dotted transparent;
        padding: 8px 20px;
        z-index: 98;
    }

    #sidebar > li > a:hover, #sidebar > li > a:focus {
        color: #9933ff;
        background: #fff;
        border-left: 3px solid #9933ff;
    }

    #sidebar > li.active > a, #sidebar > li.active > a:hover, #sidebar > li.active > a:focus {
        color: #9933ff;
        background-color: #fff;
        border-left: 3px solid #9933ff;
    }

    #sidebar ul li {
        display: block;
    }

    #sidebar ul a:hover, #sidebar ul a:focus, #sidebar ul a:active {
        color: #fff;
        text-decoration: none;
        background-color: #9933ff;
    }

    #sidebar ul ul li a {
        padding: 10px 30px;
        background-color: #9933ff;
    }

    #sidebar ul ul a:hover, #sidesidebar ul ul a:focus, #sidebar ul ul a:active {
        background-color: #9933ff;
    }

.sidebar-nav-item-icon {
    padding-right: 5px;
}

.navbar {
    border: 0;
}

.mini-subnavbar li a {
    padding: 10px 10px 7px 60px;
    background: #fff;
}

    .mini-subnavbar li a:hover, .mini-subnavbar li a:active {
        padding: 10px 10px 7px 60px;
        background: #9933ff;
    }

.mini-navbar {
    background: #fff;
}

    .mini-navbar .profile-box {
        display: none;
    }

    .mini-navbar .top-header {
        position: fixed;
        top: 0;
        left: 70px;
        width: 100%;
        z-index: 100;
    }

    .mini-navbar .nav li:hover > .mini-subnavbar, .mini-navbar .nav li:focus > .mini-subnavbar {
        display: block;
        min-width: 150px;
    }

    .mini-navbar .mini-subnavbar {
        position: absolute;
        left: 65px;
        top: 0;
        background-color: #9933ff;
        font-size: 12px;
    }

    .mini-navbar li.active .mini-subnavbar {
        left: 65px;
    }

.sidebar-nav {
    background: #fff;
    position: absolute;
    width: 200px;
    min-height: 1080px;
}

.mini-navbar .sidebar-nav {
    width: 70px;
    top: 50px;
    position: absolute;
}

.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
}

.sidebar-nav .navbar {
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

        .sidebar-nav .navbar li a {
            padding-top: 12px;
            padding-bottom: 12px;
        }

.mini-navbar .profile-element, .mini-navbar .nav-label, .mini-navbar .mini-subnavbar, .mini-navbar .navbar-bg .nav li a span {
    display: none;
}

.mini-navbar .main-content {
    margin: 50px 0 0 70px;
}

.body-small {
    left: 0;
}

.logo {
    width: 200px;
    height: 50px;
    background: #9933ff;
}

    .logo a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
    }

    .logo img {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        margin-top: 8px;
    }

.logo-icon {
    display: none;
}

.mini-navbar .logo-icon {
    height: 50px;
    width: 70px;
    display: block !important;
    background: #9933ff;
}

.mini-navbar .logo {
    display: none;
}

.profile-left {
    padding: 15px 10px;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    box-shadow: 0 2px 3px rgba(0,0,0,0.03);
    margin-right: 1px;
}

.profile-box h4 {
    font-size: 15px;
    margin: 5px 10px 10px 0;
    color: #000;
    font-weight: 700;
}

.profile-box small {
    cursor: pointer;
}

.top-header {
    background: #9933ff;
}

    .top-header::after {
        clear: both;
        display: block;
        content: '';
    }

.main-content {
    margin-left: 200px;
    background: #eff0f4;
    margin-top: 50px;
}

.wrapper {
    padding: 30px 15px;
    height: 100%;
    min-height: 1028px;
}

.big-header {
    text-align: left;
    margin-top: 0;
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.toggle-btn {
    padding: 15px 15px 8px 0;
    cursor: pointer;
    float: left;
    color: #fff;
    -moz-transition: all .2s ease-out 0;
    -webkit-transition: all .2s ease-out 0;
    transition: all .2s ease-out 0;
}

    .toggle-btn:hover {
        color: #000;
    }

    .toggle-btn i {
        font-size: 18px;
        color: #fff;
    }

.headermenu {
    list-style: none;
    padding-left: 15px;
}

    .headermenu > li {
        display: inline-block;
        float: left;
        position: relative;
    }

        .headermenu > li > a {
            margin-top: 3px;
        }

    .headermenu .dropdown-toggle {
        padding: 15px 10px;
        border-color: #9933ff;
        background: #9933ff;
        color: #FFF;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: none;
    }

        .headermenu .dropdown-toggle:hover, .headermenu .dropdown-toggle:focus, .headermenu .dropdown-toggle:active, .headermenu .dropdown-toggle.active, .headermenu .open .dropdown-toggle.dropdown-toggle {
            background: #9933ff;
            color: #fff;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .headermenu .dropdown-toggle img {
            vertical-align: middle;
            margin-right: 5px;
            width: 26px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
        }

        .headermenu .dropdown-toggle .caret {
            margin-left: 5px;
        }

    .headermenu .dropdown-menu {
        border: 0;
        margin-top: 7px;
        -moz-border-radius: 2px 0 2px 2px;
        -webkit-border-radius: 2px 0 2px 2px;
        border-radius: 2px 0 2px 2px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 5px;
    }

        .headermenu .dropdown-menu:after {
            border-bottom: 6px solid #9933ff;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            content: "";
            display: inline-block;
            left: 10px;
            position: absolute;
            top: -6px;
        }

        .headermenu .dropdown-menu li {
            display: block;
            margin: 0;
            float: none;
            background: none;
            padding: 10px 5px 5px 10px;
        }

    .headermenu .dropdown-menu-usermenu li {
        padding: 0;
    }

    .headermenu .dropdown-menu li a {
        color: #000;
        font-size: 13px;
        padding: 7px 10px;
        -moz-transition: all .2s ease-out 0;
        -webkit-transition: all .2s ease-out 0;
        transition: all .2s ease-out 0;
    }

        .headermenu .dropdown-menu li a:hover {
            background: #9933ff;
            color: #fff;
        }

    .headermenu .dropdown-menu li i {
        font-size: 11px;
        margin-right: 5px;
    }

    .headermenu .dropdown-menu-head {
        padding: 0;
        min-width: 300px;
    }

    .headermenu .dropdown-menu-usermenu {
        border: 1px solid #000;
        color: #000;
    }

    .headermenu .dropdown-menu-head ul {
        border-top: 0;
        padding: 0;
        border: 1px solid #ddd;
    }

    .headermenu .dropdown-menu-head li a {
        color: #000;
        padding: 0;
    }

        .headermenu .dropdown-menu-head li a:hover {
            background: none;
            color: #000 !important;
            text-decoration: none;
        }

    .headermenu .btn-group {
        margin-bottom: 0;
    }

.easypiechart-percentage {
    display: block;
    text-align: center;
    margin-left: 0 !important;
    padding-left: 14px !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    color: #666;
    position: absolute;
    padding-top: 15px;
}

.dropdown-list li {
    padding: 15px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.dropdown-list .tasks-piechart {
    width: 45px;
    float: left;
}

.dropdown-list .tasks-desc {
    display: block;
    padding-left: 15px;
    float: left;
}

    .dropdown-list .tasks-desc h5 {
        font-size: 13px;
        margin-top: 7px;
    }

.dropdown-list li .tasks-title {
    font-size: 13px;
    font-family: 'Arial' Helvetica,sans-serif;
    line-height: 21px;
    color: #333;
}

.dropdown-list .thumb {
    width: 45px;
    float: left;
}

    .dropdown-list .thumb img {
        width: 100%;
        display: block;
        vertical-align: middle;
        border-radius: 50px;
    }

.dropdown-list .desc {
    display: block;
    width: 125px;
    padding-left: 10px;
    float: left;
}

    .dropdown-list .desc h5 {
        font-size: 13px;
        margin-top: 7px;
    }

.dropdown-list li:last-child {
    border-bottom: 0;
    padding: 6px 10px;
    background: #fff;
}

.dropdown-list li .badge {
    float: right;
}

.dropdown-list li .time {
    font-size: 11px;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    right: 15px;
    padding-top: 10px;
}

.user-list {
    width: 300px;
}

    .user-list .progress {
        margin-bottom: 0;
    }

.normal-list li .label i {
    margin-right: 0;
}

.normal-list li span.label {
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 20px;
}

.normal-list li a:hover {
    color: #9933ff !important;
    text-decoration: none;
}

.normal-list li .name {
    font-size: 13px;
    font-family: 'Arial' Helvetica,sans-serif;
    line-height: 21px;
    color: #333;
}

.normal-list li .msg {
    font-size: 12px;
    line-height: normal;
    color: #999;
    display: block;
}

.info-number .badge {
    background: #FF6C60;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 10px;
}

.boxed-layout {
    background: #ddd;
}

.mini-navbar .boxed-layout .top-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.boxed-layout .main-content {
    background: #eff0f4;
    margin-top: 0;
    margin-left: 0;
}

.boxed-layout .menu-right {
    float: right;
    margin: 8px 15px 0 0;
}

.boxed-layout .wrapper {
    top: 50px;
    margin-left: 200px;
}

.mini-navbar .boxed-layout .wrapper {
    top: 50px;
    margin-left: 70px;
}

.boxed-layout .sidebar-fixed {
    position: fixed;
    overflow-y: auto;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
    z-index: 100;
}

.boxed-layout .footer {
    background: #fff;
    color: #7A7676;
    font-size: 12px;
    bottom: 0;
    border-top: 1px solid #EFF0F4;
    margin-left: 200px;
}

.mini-navbar .boxed-layout .footer {
    background: #fff;
    color: #7A7676;
    font-size: 12px;
    bottom: 0;
    border-top: 1px solid #EFF0F4;
    margin-left: 70px;
}

.header-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

    .header-nav > li {
        position: relative;
        display: block;
        float: left;
    }

        .header-nav > li > a {
            background: #9933ff;
            min-width: 72px;
            text-align: center;
            border: 0;
            line-height: 35px;
            padding: 0 20px;
            font-size: 14px;
            display: block;
            color: #fff;
        }

            .header-nav > li > a:hover, .header-nav > li > a:focus, .header-nav > li > a:active {
                color: #fff;
            }

            .header-nav > li > a > img {
                border: 2px solid rgba(255,255,255,0.3);
                border-image-source: initial;
                border-image-slice: initial;
                border-image-width: initial;
                border-image-outset: initial;
                border-image-repeat: initial;
                display: inline-block;
                float: left;
                height: 35px;
                margin-left: -15px;
                margin-right: 10px;
                margin-top: 0;
                width: 35px;
            }

    .header-nav .dropdown-toggle:hover, .header-nav .dropdown-toggle:focus, .header-nav .dropdown-toggle:active, .header-nav .dropdown-toggle.active, .header-nav .open .dropdown-toggle.dropdown-toggle {
        background: #9933ff;
        color: #fff;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.navbar-nav > li > .dropdown-menu {
    margin-top: 8px;
}

.menu-right {
    float: right;
    margin-right: 15px;
}

.contactus-map {
    margin-bottom: 5px;
}

.portlet .contactus-map:last-child {
    margin-bottom: 0;
}

.contactus-map:before, .contactus-map:after {
    display: table;
    line-height: 0;
    content: "";
}

.contactus-map:after {
    clear: both;
}

.contactus-map .visual {
    display: inline;
    float: left;
    padding-top: 10px;
}

    .contactus-map .visual i {
        font-size: 65px;
        line-height: 65px;
        color: #fff;
    }

.contactus-map .details {
    position: absolute;
    right: 15px;
    padding-right: 5px;
}

    .contactus-map .details .number {
        text-align: right;
        padding-top: 15px;
        font-size: 20px;
        letter-spacing: -1px;
        margin-bottom: 5px;
    }

    .contactus-map .details .desc {
        text-align: right;
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 600;
    }

.map-addressbar {
    display: inline-block;
}

    .map-addressbar .addressbar-text {
        display: inline-block;
        vertical-align: middle;
        padding: 13px 0 0 10px;
    }

    .map-addressbar .text-muted {
        text-transform: uppercase;
        font-size: 10px;
    }

    .map-addressbar h4 {
        margin: 0;
        font-weight: 700;
        line-height: normal;
        font-size: 16px;
    }

.activity-feeds ul {
    margin: 0;
    position: relative !important;
}

    .activity-feeds ul li {
        list-style: none;
        padding: 8px !important;
        margin-bottom: 5px !important;
        border: 1px solid #ebebeb;
    }

        .activity-feeds ul li .big-avatar img {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
        }

        .activity-feeds ul li .avatar {
            padding-left: 10px;
        }

            .activity-feeds ul li .avatar img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
            }

.activity-feeds h5 {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: capitalize;
}

.activity-feeds .online {
    margin-top: 16px;
    display: block;
    text-decoration: none;
    color: #909090;
}

    .activity-feeds .online:hover i {
        color: #6ddfb5;
    }

.info-box .title, .info-box .value {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.info-box .date, .info-box .change {
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.info-box .title, .info-box .date {
    float: left;
}

.info-box .value, .info-box .change {
    float: right;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
    background-color: #9933ff;
    border-color: #9933ff;
}

    a.list-group-item.active .list-group-item-text, a.list-group-item.active:focus .list-group-item-text, a.list-group-item.active:hover .list-group-item-text {
        color: #fff;
    }

a.list-group-item:focus, a.list-group-item:hover {
    background-color: #f9f9f9;
}

a.list-group-item.active > .badge {
    background: rgba(0,0,0,.4);
    color: #fff;
}

.list-group {
    overflow: hidden;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    overflow: hidden;
}

.list-group-item:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: hidden;
}

.list-group-item {
    border-color: #ebeef2;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

    .list-group-item > .show-menu {
        position: absolute;
        height: 100%;
        width: 20px;
        top: 0;
        right: 15px;
        background-color: rgba(51,51,51,0.2);
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

        .list-group-item > .show-menu > span {
            position: absolute;
            top: 50%;
            margin-top: -7px;
            padding: 0 5px;
        }

.list-group-submenu {
    position: absolute;
    top: 0;
    right: -130px;
    white-space: nowrap;
    list-style: none;
    padding-left: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

    .list-group-submenu .list-group-submenu-item {
        float: right;
        white-space: nowrap;
        display: block;
        padding: 21px 11px;
        margin-bottom: -1px;
        color: #ebebeb;
    }

.list-group-item.open {
    margin-left: -160px;
}

    .list-group-item.open > .show-menu {
        right: 125px;
    }

    .list-group-item.open .list-group-submenu {
        right: 15px;
    }

.list-group-submenu .list-group-submenu-item.primary {
    color: #fff;
    background-color: #3276b1;
}

.list-group-submenu .list-group-submenu-item.success {
    color: #fff;
    background-color: #5cb85c;
}

.list-group-submenu .list-group-submenu-item.info {
    color: #fff;
    background-color: #39b3d7;
}

.list-group-submenu .list-group-submenu-item.warning {
    color: #fff;
    background-color: #f0ad4e;
}

.list-group-submenu .list-group-submenu-item.danger {
    color: #fff;
    background-color: #d9534f;
}

.message-item {
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;
}

    .message-item .message-inner {
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
        position: relative;
        padding: 10px;
    }

        .message-item .message-inner:before {
            border-right: 10px solid #ddd;
            color: rgba(0,0,0,0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -20px;
            top: 6px;
            width: 0;
            border-style: solid;
            border-width: 10px;
        }

        .message-item .message-inner:after {
            border-right: 10px solid #fff;
            color: rgba(0,0,0,0);
            content: "";
            display: block;
            height: 0;
            position: absolute;
            left: -18px;
            top: 6px;
            width: 0;
            border-style: solid;
            border-width: 10px;
        }

    .message-item:before {
        background: #fff;
        border-radius: 2px;
        bottom: -30px;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        content: "";
        height: 100%;
        left: -30px;
        position: absolute;
        width: 3px;
    }

    .message-item:after {
        background: #fff;
        border: 2px solid #ccc;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
        content: "";
        height: 15px;
        left: -36px;
        position: absolute;
        top: 10px;
        width: 15px;
    }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.message-item .message-head {
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

    .message-item .message-head .avatar {
        margin-right: 20px;
    }

    .message-item .message-head .user-detail {
        overflow: hidden;
    }

        .message-item .message-head .user-detail h5 {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }

    .message-item .message-head .post-meta {
        float: left;
        padding: 0 15px 0 0;
    }

        .message-item .message-head .post-meta > div {
            color: #333;
            font-weight: 700;
            text-align: right;
        }

.post-meta > div {
    color: #777;
    font-size: 12px;
    line-height: 22px;
}

.message-item img {
    min-height: 40px;
    max-height: 40px;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

    .timeline .time-show {
        text-align: center;
        position: relative;
        margin-bottom: 30px;
    }

.time-show .btn {
    width: 100px;
}

.timeline .time-show a {
    color: #fff;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

    .timeline > li:before, .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li:before, .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li > .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
        box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    }

        .timeline > li > .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: " ";
        }

        .timeline > li > .timeline-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: " ";
        }

    .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }

        .timeline > li.timeline-inverted > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline > li.timeline-inverted > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p, .timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    .timeline .time-show {
        text-align: left;
    }

    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

.horizontal-nav {
    background: #fff;
}

    .horizontal-nav .navbar {
        margin-bottom: 0;
    }

    .horizontal-nav .navbar-brand {
        padding: 8px 15px;
        min-height: 50px;
    }

    .horizontal-nav .navbar-default {
        background: #9933ff;
        border: none;
        border-radius: 0;
    }

        .horizontal-nav .navbar-default .navbar-nav > .active > a, .horizontal-nav .navbar-default .navbar-nav > .active > a:hover, .horizontal-nav .navbar-default .navbar-nav > .active > a:focus, .horizontal-nav .navbar-default .navbar-nav > .open > a, .horizontal-nav .navbar-default .navbar-nav > .open > a:hover, .horizontal-nav .navbar-default .navbar-nav > .open > a:focus, .horizontal-nav .navbar-default .navbar-nav > li > a:hover, .horizontal-nav .navbar-default .navbar-nav > li > a:focus {
            background-color: #363f44;
            color: #FFF;
        }

        .horizontal-nav .navbar-default .navbar-nav > li > a {
            color: #FFF;
            font-size: 13px;
        }

    .horizontal-nav .form-control {
        box-shadow: none;
        float: left;
    }

.easypiechart-canvas {
    text-align: center;
    margin: 2px 5px 0 8px;
}

    .easypiechart-canvas .piechart-percentage {
        color: #000;
        display: inline-block;
        font-size: 12px;
        z-index: 2;
        position: absolute;
        padding-left: 16px;
        line-height: 55px;
    }

.easypiechart-text {
    text-align: center;
    margin: 5px 5px 0 8px;
}

    .easypiechart-text .piechart-text {
        display: inline-block;
        vertical-align: middle;
        padding: 5px 0 0 10px;
    }

    .easypiechart-text .text-muted {
        text-transform: uppercase;
        font-size: 10px;
    }

    .easypiechart-text h4 {
        margin: 0;
        font-weight: 700;
        line-height: normal;
        font-size: 16px;
    }

.asterisk {
    color: #D9534F;
}

div.error {
    margin-bottom: 20px;
    display: none;
    position: relative;
}

    div.error label.error {
        display: block;
        padding-left: 25px;
        position: relative;
    }

        div.error label.error:before {
            font-family: 'FontAwesome';
            content: "\f05a";
            position: absolute;
            top: -2px;
            left: 0;
            font-size: 16px;
            color: #D9534F;
            display: inline-block;
        }

label.error {
    color: #B94A48;
    margin-top: 2px;
}

    label.error:empty {
        display: none !important;
    }

.parsley-errors-list {
    display: none;
    margin: 0;
    padding: 0;
}

    .parsley-errors-list.filled {
        display: block;
    }

    .parsley-errors-list > li {
        font-size: 12px;
        list-style: none;
        color: #ed5466;
    }

.parsley-error {
    border-color: #ed5466 !important;
}

    .parsley-error.custom-checkbox:hover > label:before, .parsley-error.custom-checkbox > label:before, .parsley-error.custom-radio:hover > label:before, .parsley-error.custom-radio > label:before {
        border: 1px solid #ed5466;
    }

    .parsley-error.custom-checkbox > input[type=checkbox]:checked + label:before, .parsley-error.custom-radio > input[type=checkbox]:checked + label:before {
        border-color: #ed5466;
        background-color: #ed5466;
    }

.box .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .box .todo-list > li {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 10px;
        background: #f3f4f5;
        margin-bottom: 2px;
        color: #444;
    }

        .box .todo-list > li:last-of-type {
            margin-bottom: 0;
        }

        .box .todo-list > li > input[type='checkbox'] {
            margin: 0 10px 0 5px;
        }

        .box .todo-list > li .text {
            display: inline-block;
            margin-left: 5px;
            font-weight: 600;
        }

        .box .todo-list > li .label {
            margin-left: 10px;
            font-size: 9px;
        }

        .box .todo-list > li .tools {
            display: none;
            float: right;
            color: #f56954;
            margin: 4px 10px;
        }

            .box .todo-list > li .tools > .fa, .box .todo-list > li .tools > .glyphicon, .box .todo-list > li .tools > .i {
                font-size: 16px;
                margin-right: 5px;
                cursor: pointer;
            }

        .box .todo-list > li:hover .tools {
            display: inline-block;
        }

    .box .todo-list .handle {
        display: inline-block;
        cursor: move;
        margin: 0 10px 0 5px;
    }

.line-through {
    text-decoration: line-through;
}

.drag-marker {
    height: 17px;
    display: block;
    float: left;
    width: 7px;
    position: relative;
    top: 0;
    margin-right: 10px;
    cursor: move;
}

    .drag-marker i {
        height: 2px;
        width: 2px;
        display: block;
        background: #ccc;
        box-shadow: 5px 0 0 0 #ccc,0px 5px 0 0 #ccc,5px 5px 0 0 #ccc,0px 10px 0 0 #ccc,5px 10px 0 0 #ccc,0px 15px 0 0 #ccc,5px 15px 0 0 #ccc;
        -webkit-box-shadow: 5px 0 0 0 #ccc,0px 5px 0 0 #ccc,5px 5px 0 0 #ccc,0px 10px 0 0 #ccc,5px 10px 0 0 #ccc,0px 15px 0 0 #ccc,5px 15px 0 0 #ccc;
        -moz-box-shadow: 5px 0 0 0 #ccc,0px 5px 0 0 #ccc,5px 5px 0 0 #ccc,0px 10px 0 0 #ccc,5px 10px 0 0 #ccc,0px 15px 0 0 #ccc,5px 15px 0 0 #ccc;
    }

.badge.badge-primary {
    background: #428bca;
}

.badge.badge-success {
    background: #5cb85c;
}

.badge.badge-warning {
    background: #FCB322;
}

.badge.badge-danger {
    background: #d9534f;
}

.badge.badge-info {
    background: #5bc0de;
}

.carousel-caption2 {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
    text-shadow: none;
}

.controllers {
    position: absolute;
    top: 0;
}

.carousel-caption3 {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 0 0 10px 25px;
    color: #fff;
    text-align: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 15;
    margin: 0;
    padding: 0 25px 25px 0;
    text-align: right;
}

    .carousel-indicators li {
        background: rgba(255,255,255,0.4);
        border: none;
        transition: background-color .25s ease 0;
        -moz-transition: background-color .25s ease 0;
        -webkit-transition: background-color .25s ease 0;
    }

    .carousel-indicators .active {
        background: #fff;
        height: 10px;
        margin: 1px;
        width: 10px;
    }

    .carousel-indicators.out {
        bottom: -5px;
        bottom: -5px;
    }

.carousel-control {
    color: #999;
    text-shadow: none;
}

    .carousel-control i {
        display: inline-block;
        height: 25px;
        left: 50%;
        color: #FFF;
        margin-left: -10px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 5;
    }

    .carousel-control.left, .carousel-control.right {
        background: none;
        filter: none;
        padding: 40px 15px;
    }

    .carousel-control:hover, .carousel-control:focus {
        color: #CCC;
        opacity: .9;
        text-decoration: none;
    }

.carousel-inner h3 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.has-toolbar.fc {
    margin-top: 50px;
}

.external-event {
    margin-bottom: 5px;
    padding: 6px 10px;
    color: #fff;
    font-size: 13px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: move;
}

    .external-event.success {
        color: #fff;
        background-color: #5cb85c;
    }

    .external-event.info {
        color: #fff;
        background-color: #5bc0de;
    }

    .external-event.primary {
        color: #fff;
        background-color: #428bca;
    }

    .external-event.warning {
        color: #fff;
        background-color: #f0ad4e;
    }

    .external-event.danger {
        color: #fff;
        background-color: #d9534f;
    }

#external-events p input[type="checkbox"] {
    margin: 0;
}

#external-events .external-event {
    font-size: 11px;
    font-family: 'Arial';
    font-weight: 400;
}

.drg-event-title {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.fc-content .fc-event {
    border-radius: 4px;
    webkit-border-radius: 4px;
    padding: 4px 6px;
}

.drp-rmv {
    padding-top: 10px;
    margin-top: 10px;
}

.table-advance tr td {
    vertical-align: middle !important;
}

.dataTables_length, .dataTables_filter {
    padding: 15px 0;
}

.dataTables_info {
    padding: 15px 0 0 !important;
}

.dataTables_filter {
    float: right;
}

.dataTables_length select {
    width: 65px;
    padding: 5px 8px;
}

.dataTables_length label, .dataTables_filter label {
    font-weight: 600;
}

    .dataTables_filter label, .dataTables_filter label input {
        width: 100%;
    }

.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    list-style: none;
}

    .dataTables_paginate.paging_bootstrap.pagination li.disabled a {
        color: #c7c7c7;
    }

    .dataTables_paginate.paging_bootstrap.pagination li a {
        color: #797979;
        padding: 5px 10px;
        display: inline-block;
    }

    .dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a {
        color: #fff;
        background: #9933ff;
        text-decoration: none;
    }

    .dataTables_paginate.paging_bootstrap.pagination li:hover, .dataTables_paginate.paging_bootstrap.pagination li.active {
        border-color: #9933ff;
    }

    .dataTables_paginate.paging_bootstrap.pagination li.disabled:hover, .dataTables_paginate.paging_bootstrap.pagination li.disabled:hover a {
        color: #C7C7C7;
        background: #fff;
        border-color: #DDD;
        cursor: no-drop;
    }

.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-bottom: 15px;
}

.adv-table table.display thead th {
    border-bottom: 1px solid #DDD;
    padding: 10px;
}

.dataTable td.details {
    background-color: #fff;
}

.adv-table table.display tr.odd.gradeA {
    background-color: #F9F9F9;
}

.adv-table table.display tr.even.gradeA {
    background-color: #FFF;
}

.adv-table .dataTables_info, .dataTables_paginate, .adv-table .dataTables_length, .adv-table .dataTables_filter {
    padding: 15px 0;
}

.dataTable tr.odd.gradeX td.sorting_1, .dataTable tr.even.gradeX td.sorting_1, table.display tr.even.gradeX, table.display tr.gradeX, tr.even.gradeU td.sorting_1, tr.even td.sorting_1, table.display tr.even.gradeC, table.display tr.gradeC, tr.odd.gradeC td.sorting_1, table.display tr.even.gradeU, table.display tr.gradeU, tr.odd.gradeU td.sorting_1 {
    background: none !important;
}

.cke_top, .cke_bottom {
    background: #EFF0F4 !important;
    box-shadow: none !important;
    border-top: none !important;
    border-bottom: none !important;
}

.icheck div, .icheck .disabled {
    float: left;
}

.icheck div {
    margin-right: 10px;
}

.icheck label {
    font-weight: 400;
}

.icheck .checkbox, .icheck .radio {
    margin-bottom: 10px;
}

.icheck .single-row {
    display: inline-block;
    width: 100%;
}

#main-chart-legend {
    padding: 2px 0;
}

    #main-chart-legend td {
        padding-right: 10px;
    }

.main-chart {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

.flot-chart {
    width: 100%;
    height: 125px;
    text-align: center;
    margin: 0 auto;
}

#legendcontainer26 {
    padding: 2px 0;
}

    #legendcontainer26 td {
        padding-right: 10px;
    }

.legendcontainer26 {
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

.ms-container .ms-selectable li.ms-hover, .ms-container .ms-selection li.ms-hover {
    background-color: #9933ff;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
}

.ms-container .ms-list, .ms-container .ms-list.ms-focus {
    box-shadow: none !important;
}

    .ms-container .ms-list.ms-focus {
        border: 1px solid #9933ff;
    }

.ms-selectable .search-input, .ms-selection .search-input {
    margin-bottom: 10px;
}

.spinner-buttons.input-group-btn {
    width: 20%;
}

    .spinner-buttons.input-group-btn .btn-xs {
        line-height: 1.16;
    }

.spinner-buttons.btn-group-vertical > .btn:last-child:not(:first-child) {
    border-radius: 0 0 4px 0;
    -webkit-border-radius: 0 0 4px 0;
}

.spinner-buttons.btn-group-vertical > .btn:first-child:not(:last-child) {
    border-radius: 0 4px 0 0;
    -webkit-border-radius: 0 4px 0 0;
}

div.tagsinput span.tag {
    background: #edeef0 !important;
    border-color: #d2d3d6;
    color: #333;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 2px 10px;
}

    div.tagsinput span.tag a {
        color: #43886e;
    }

.add-on {
    float: right;
    margin-top: -37px;
    padding: 3px;
    text-align: center;
}

    .add-on .btn {
        padding: 9px;
    }

.gmaps {
    height: 350px;
    width: 100%;
}

.vmaps {
    width: 100%;
    height: 400px;
}

.jqvmap-label {
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: #fff;
    font-family: sans-serif,Verdana;
    font-size: smaller;
    padding: 3px;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    position: absolute;
    left: 16px;
    background: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
}

.jqvmap-zoomin {
    content: "\f055";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    font-size: 14px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 2px;
}

.jqvmap-zoomout {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    color: #fff;
    font-size: 14px;
    position: absolute;
    cursor: pointer;
    top: 35px;
    left: 2px;
}

.jqvmap-region {
    cursor: pointer;
}

.jqvmap-ajax_response {
    width: 100%;
    height: 500px;
}

.lock-screen {
    background: #e8ebec;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.lock-wrapper {
    margin: 6% auto;
    max-width: 400px;
}

.lock-box {
    padding: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
    border: 1px solid #9933ff;
}

.lock-wrapper img {
    position: absolute;
    left: 36%;
    top: -60px;
    border-radius: 50%;
}

.lock-wrapper h1 {
    text-align: center;
    color: #9933ff;
    font-size: 18px;
    padding: 30px 0 0;
    margin: 25px 0 0;
}

.lock-wrapper .locked {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 36px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    color: #fff;
    text-align: center;
    background: #9933ff;
    top: -25px;
    right: 120px;
    border: 4px solid #fff;
    font-size: 22px;
}

.lock-wrapper input, .lock-wrapper input:focus {
    width: 100% !important;
    height: 34px;
    float: left;
    margin-bottom: 15px;
}

.btn-lock {
    background: #9933ff;
    color: #fff;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

    .btn-lock:hover {
        background: #688ac2;
        color: #fff;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

.invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.error-page {
    background: #9933ff;
}

.error-wrapper {
    margin-top: 12%;
}

    .error-wrapper h2 {
        font-size: 64px;
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
    }

    .error-wrapper h3 {
        font-size: 32px;
        color: #474747;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 50px;
        margin-top: 0;
    }

    .error-wrapper .back-btn {
        text-decoration: none;
        display: inline-block;
        margin-bottom: 20px;
        margin-top: 50px;
    }

.widget-info-twt {
    padding: 30px 10px;
    text-align: center;
}

    .widget-info-twt h5 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 6px;
        margin-top: 0;
    }

    .widget-info-twt .subtitle {
        color: #f2f2f2;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;
        display: block;
    }

    .widget-info-twt .avatar img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        height: 125px;
        width: 125px;
        border: 5px solid rgba(255,255,255,0.3);
        margin-bottom: 30px;
    }

.user-taskslider {
    margin: 0;
    padding: 15px;
    list-style: none;
    position: relative;
}

    .user-taskslider .owl-next, .user-taskslider .owl-prev {
        position: absolute;
        top: 0;
        line-height: 58px;
    }

    .user-taskslider .owl-next {
        right: 0;
    }

    .user-taskslider .owl-prev {
        left: 0;
    }

    .user-taskslider span {
        display: block;
    }

.alert {
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.11);
}

    .alert .sign {
        font-size: 20px;
        vertical-align: middle;
        margin-right: 5px;
        text-align: center;
        width: 25px;
        display: inline-block;
    }

.alert-success {
    background-color: #DBF6D3;
    border-color: #AED4A5;
    color: #569745;
}

.alert-info {
    background-color: #D9EDF7;
    border-color: #98cce6;
    color: #3A87AD;
}

.alert-warning {
    background-color: #FCF8E3;
    border-color: #F1DAAB;
    color: #C09853;
}

.alert-danger {
    background-color: #F2DEDE;
    border-color: #e0b1b8;
    color: #B94A48;
}

.alert-white {
    background-image: linear-gradient(to bottom,#fff,#f9f9f9);
    color: #404040;
    padding-left: 61px;
    position: relative;
    border-color: #d8d8d8 #cacaca #bdbdbd;
}

    .alert-white .icon {
        text-align: center;
        width: 45px;
        height: 103%;
        position: absolute;
        top: -1px;
        left: -1px;
        border: 1px solid #BDBDBD;
        padding-top: 15px;
    }

        .alert-white .icon:after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid #BDBDBD;
            position: absolute;
            border-left: 0;
            border-bottom: 0;
            top: 50%;
            right: -6px;
            margin-top: -3px;
            background: #fff;
        }

    .alert-white.rounded {
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }

        .alert-white.rounded .icon {
            border-radius: 3px 0 0 3px;
            -webkit-border-radius: 3px 0 0 3px;
        }

    .alert-white .icon i {
        font-size: 20px;
        color: #FFF;
        left: 12px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
    }

    .alert-white.alert-danger .icon, .alert-white.alert-danger .icon:after {
        border-color: #ca452e;
        background: #da4932;
    }

    .alert-white.alert-info .icon, .alert-white.alert-info .icon:after {
        border-color: #3A8ACE;
        background: #4D90FD;
    }

    .alert-white.alert-warning .icon, .alert-white.alert-warning .icon:after {
        border-color: #D68000;
        background: #FC9700;
    }

    .alert-white.alert-success .icon, .alert-white.alert-success .icon:after {
        border-color: #54A754;
        background: #60C060;
    }

.rvm-checkbox *, .rvm-radio * {
    cursor: pointer;
}

.rvm-checkbox input, .rvm-radio input {
    opacity: 0;
    position: absolute;
    margin-left: 0 !important;
}

.rvm-checkbox span, .rvm-radio span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -20px;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-right: 5px;
}

.rvm-checkbox:hover span, .rvm-radio:hover span {
    border-color: #9933ff;
}

.form-inline .rvm-checkbox span, .form-inline .rvm-radio span {
    margin-left: 0;
}

.rvm-checkbox.rvm-checkbox-rounded span, .rvm-radio.rvm-checkbox-rounded span, .rvm-checkbox.rvm-radio-rounded span, .rvm-radio.rvm-radio-rounded span {
    border-radius: 500px;
}

.rvm-radio span {
    border-radius: 500px;
}

    .rvm-checkbox span:before, .rvm-radio span:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        text-align: center !important;
        font-size: 12px;
        line-height: 18px;
        color: #9933ff;
        vertical-align: middle;
    }

.rvm-checkbox input[type=checkbox]:checked + span:before, .rvm-radio input[type=radio]:checked + span:before {
    color: #9933ff;
    opacity: 1;
    transition: color .3s ease-out;
}

.rvm-checkbox input[type=checkbox]:checked + span, .rvm-radio input[type=radio]:checked + span {
    border-color: #9933ff;
}

#rvm-check {
    width: 20px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
}

.input-group-addon.primary {
    color: #fff;
    background-color: #3276b1;
    border-color: #285e8e;
}

.input-group-addon.success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.input-group-addon.info {
    color: #fff;
    background-color: #39b3d7;
    border-color: #269abc;
}

.input-group-addon.warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.input-group-addon.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

    .image-preview-input input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.image-preview-input-title {
    margin-left: 2px;
}

.form-horizontal.form-bordered .form-group, .form-horizontal.form-striped .form-group {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    border-top: 1px solid transparent;
    border-top-color: #e0e7e8 !important;
}

    .form-horizontal.form-bordered .form-group:first-child.header, .form-horizontal.form-striped .form-group:first-child.header {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .form-horizontal.form-striped .form-group:nth-child(even) {
        background-color: #f8f8f8;
    }

.form-horizontal .form-group.message-container {
    padding: 15px;
}

    .form-horizontal .form-group.message-container:empty {
        display: none;
    }

        .form-horizontal .form-group.message-container:empty + .form-group {
            border-top-width: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

.form-horizontal.form-bordered .form-group .no-border, .form-horizontal.form-striped .form-group .no-border, .form-horizontal.form-bordered .form-group:first-child, .form-horizontal.form-striped .form-group:first-child {
    border-top-width: 0;
}

.form-horizontal.form-bordered .form-group .help-block, .form-horizontal.form-striped .form-group .help-block, .form-horizontal .form-group.message-container > .alert {
    margin-bottom: 0;
}

.bar-widget {
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    width: 100%;
}

.iconic-input {
    display: block;
    margin-bottom: 15px;
}

    .iconic-input i {
        display: block;
        font-size: 16px;
        margin: 9px 20px 9px 12px;
        position: absolute;
        text-align: center;
    }

    .iconic-input input {
        padding-left: 30px !important;
    }

    .iconic-input.right input {
        padding-left: 10px !important;
        padding-right: 30px !important;
    }

    .iconic-input.right i {
        float: right;
        right: 5px;
    }

.dropdown-menu {
    margin: 10px 0 0;
    text-align: left;
    padding: 0;
    font-size: 12px;
    border: 1px solid #CCC;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

    .dropdown-menu.dropdown-menu-right {
        right: -1px;
    }

    .dropdown-menu > li > a {
        padding: 10px 12px 11px;
        text-align: left;
        font-weight: 600;
    }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
            outline: 0;
            color: #fff;
            background-color: #9933ff;
        }

        .dropdown-menu > li > a .label {
            float: right;
            margin-top: -2px;
            margin-right: -5px;
        }

        .dropdown-menu > li > a:hover .label, .dropdown-menu > li.active > a:hover .label {
            background-color: rgba(0,0,0,0.5);
        }

        .dropdown-menu > li > a > i, .dropdown-menu > li > a > img {
            color: #505050;
            float: left;
            margin-right: 8px;
            margin-top: 2px;
        }

        .dropdown-menu > li > a > img {
            margin-top: 3px;
        }

        .dropdown-menu > li > a:hover > i, .dropdown-menu > li > a:hover > img {
            color: #fff;
            opacity: 1;
        }

    .dropdown-menu > li {
        position: relative;
    }

        .dropdown-menu > li:first-child {
            margin-top: -1px;
        }

        .dropdown-menu > li:last-child {
            margin-bottom: -1px;
        }

    .dropdown-menu.icons-right > li > a > i {
        float: right;
        margin-left: 8px;
        margin-right: 0;
    }

    .dropdown-menu > li:first-child > a {
        border-radius: 2px 2px 0 0;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
    }

    .dropdown-menu > li:last-child > a {
        border-radius: 0 0 2px 2px;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
    }

    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        background-color: #9933ff;
        box-shadow: 1px 0 0 #9933ff,-1px 0 0 #9933ff;
        -webkit-box-shadow: 1px 0 0 #9933ff,-1px 0 0 #9933ff;
        -moz-box-shadow: 1px 0 0 #9933ff,-1px 0 0 #9933ff;
    }

        .dropdown-menu > .active > a > img, .dropdown-menu > .active > a:hover > img, .dropdown-menu > .active > a:focus > img, .dropdown-menu > .active > a > i, .dropdown-menu > .active > a:hover > i, .dropdown-menu > .active > a:focus > i {
            opacity: 1;
            color: #fff;
        }

    .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
        box-shadow: none;
    }

        .dropdown-menu > .disabled > a > img, .dropdown-menu > .disabled > a:hover > img, .dropdown-menu > .disabled > a:focus > img, .dropdown-menu > .disabled > a i, .dropdown-menu > .disabled > a:hover i, .dropdown-menu > .disabled > a:focus i {
            color: #999;
            opacity: .4;
        }

.dropdown-menu-right {
    right: -1px;
}

.dropdown-menu-left {
    left: -1px;
}

.dropdown-header {
    padding: 11px 12px 12px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.pull-right > .dropdown-menu {
    right: -1px;
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
    margin-bottom: 10px;
}

.dropdown-menu > li:first-child:before {
    position: absolute;
    top: -5px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 6px solid #ccc;
    border-left: 7px solid rgba(0,0,0,0);
    content: '';
}

.dropdown-menu > li:first-child:after {
    position: absolute;
    top: -3px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 6px solid #FFF;
    border-left: 7px solid rgba(0,0,0,0);
    content: '';
}

.dropdown-menu.dropdown-menu-right > li:first-child:before, .dropup .dropdown-menu.dropdown-menu-right > li:first-child:before {
    left: auto;
    right: 13px;
}

.dropdown-menu.dropdown-menu-right > li:first-child:after, .dropup .dropdown-menu.dropdown-menu-right > li:first-child:after {
    left: auto;
    right: 14px;
}

.dropup .dropdown-menu > li:last-child:before {
    position: absolute;
    bottom: -6px;
    left: 11px;
    display: inline-block;
    border-right: 7px solid rgba(0,0,0,0);
    border-top: 6px solid #ccc;
    border-left: 7px solid rgba(0,0,0,0);
    content: '';
}

.dropup .dropdown-menu > li:last-child:after {
    position: absolute;
    bottom: -5px;
    left: 12px;
    display: inline-block;
    border-right: 6px solid rgba(0,0,0,0);
    border-top: 7px solid #fff;
    border-left: 6px solid rgba(0,0,0,0);
    content: '';
}

.dropup .dropdown-menu > li:first-child:before, .dropup .dropdown-menu > li:first-child:after {
    border: 0;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:after {
    left: auto;
    right: 14px;
}

.dropup .dropdown-menu.dropdown-menu-right > li:last-child:before {
    left: auto;
    right: 13px;
}

.dropdown-menu > li:first-child:hover:after, .dropdown-menu > li:first-child:hover:before {
    border-bottom-color: #9933ff;
}

.dropup .dropdown-menu > li:last-child:hover:after, .dropup .dropdown-menu > li:last-child:hover:before {
    border-top-color: #9933ff;
}

.dropdown-menu > li.active:first-child:after, .dropdown-menu > li.active:first-child:before {
    border-bottom-color: #9933ff;
}

.dropup .dropdown-menu > li.active:last-child:after, .dropup .dropdown-menu > li.active:last-child:before {
    border-top-color: #9933ff;
}

.dropdown-menu > li.disabled:first-child:hover:after {
    border-bottom-color: #fff;
}

.dropdown-menu > li.disabled:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropup .dropdown-menu > li.disabled:last-child:hover:after {
    border-top-color: #fff;
}

.dropup .dropdown-menu > li.disabled:last-child:hover:before {
    border-top-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:before {
    border-bottom-color: #ccc;
}

.dropdown-menu > li.dropdown-header:first-child:hover:after {
    border-bottom-color: #fff;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:before {
    border-top-color: #ccc;
}

.dropup .dropdown-menu > li.dropdown-header:last-child:hover:after {
    border-top-color: #fff;
}

.dropdown-menu-head {
    background: #fff;
}

    .dropdown-menu-head .title {
        background: #9933ff;
        color: #fff;
        padding: 7px 10px;
        text-transform: capitalize;
        font-size: 13px;
        font-weight: 700;
        margin: 0;
    }

.dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #fff;
    background-color: #9933ff;
    box-shadow: 1px 0 0 #9933ff,-1px 0 0 #9933ff;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px;
    border-radius: 0 2px 2px 2px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropup .dropdown-submenu > .dropdown-menu {
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-border-radius: 2px 2px 2px 0;
    -moz-border-radius: 2px 2px 2px 0;
    border-radius: 2px 2px 2px 0;
}

.dropdown-submenu > a:after {
    display: block;
    content: "";
    float: right;
    width: 0;
    height: 0;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    border-width: 3px 0 3px 3px;
    border-left-color: #999;
    margin-top: 7px;
    margin-right: -4px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none !important;
}

    .dropdown-submenu.pull-left > .dropdown-menu {
        left: -100%;
        margin-left: -2px;
        -webkit-border-radius: 2px 0 2px 2px;
        -moz-border-radius: 2px 0 2px 2px;
        border-radius: 2px 0 2px 2px;
    }

.dropdown-submenu .dropdown-menu > li:first-child:before, .dropdown-submenu .dropdown-menu > li:first-child:after, .dropup .dropdown-submenu .dropdown-menu > li:last-child:before, .dropup .dropdown-submenu .dropdown-menu > li:last-child:after {
    border: 0;
}

.inbox {
    border-spacing: 0;
    background: #FFF;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}

    .inbox > aside {
        display: table-cell;
        float: none;
        height: 100%;
        vertical-align: top;
    }

.inbox-menu {
    width: 200px;
}

.inbox-messages, .inbox-nav-body {
    padding: 10px;
}

a.btn-compose {
    background: #9933ff;
    color: #fff;
    width: 100%;
    margin: 10px 0;
}

a:hover.btn-compose {
    background: #9933ff;
    color: #fff;
}

.nav.nav-pills.nav-stacked.labels-info p {
    color: #85888f;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}

.inbox-messages {
    position: relative;
}

    .inbox-messages .header {
        margin: 0;
        padding: 10px 0 25px;
        color: #fff;
    }

    .inbox-messages .inbox-messages {
        margin-top: 30px;
    }

        .inbox-messages .inbox-messages li a {
            font-size: 13px;
            color: #535351;
            text-decoration: none;
        }

            .inbox-messages .inbox-messages li a:hover {
                color: #1b2128;
            }

            .inbox-messages .inbox-messages li a.thumb {
                width: 25px;
                margin-right: 10px;
            }

                .inbox-messages .inbox-messages li a.thumb img {
                    height: auto;
                    max-width: 100%;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                }

.inbox-messages {
    height: 100%;
}

    .inbox-messages .inbox-messages-body {
        padding: 10px;
        border: 1px solid #eee;
    }

        .inbox-messages .inbox-messages-body .inbox-star {
            font-size: 18px;
            width: 20px;
            float: left;
            text-align: center;
            margin-right: 5px;
            margin-right: 5px;
            cursor: pointer;
        }

        .inbox-messages .inbox-messages-body .starred {
            color: #fea223;
        }

            .inbox-messages .inbox-messages-body .starred .fa-star-o:before {
                content: "\f005";
            }

    .inbox-messages header h6 {
        margin: 9px 6px 8px 0;
        color: #5C6E8A;
    }

.mail-compose {
    width: 100%;
    padding-top: 10px;
    display: inline-block;
    position: relative;
}

    .mail-compose input, .mail-compose input:focus {
        border: none;
        padding: 0;
        width: 80%;
        float: left;
    }

    .mail-compose .form-group {
        border: 1px solid #eaebee;
        display: inline-block;
        width: 100%;
    }

        .mail-compose .form-group label {
            line-height: 34px;
            width: 5%;
            float: left;
            padding-left: 8px;
            margin-bottom: 0;
            margin-right: 12px;
            margin-top: 2px;
        }

.inbox-message-body, .attachment {
    width: 100%;
    display: inline-block;
    margin: 0 0 20px;
    border-bottom: 1px solid #EFF2F7;
    padding: 10px 0;
}

    .inbox-message-body img {
        width: 40px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .inbox-message-body .date {
        line-height: 40px;
        margin-bottom: 0;
        text-align: right;
    }

    .view-mail a, .attachment a:hover {
        color: #9933ff;
    }

    .attachment ul li {
        float: left;
        width: 150px;
        margin-right: 15px;
        margin-top: 15px;
        list-style: none;
        border: 1px solid #eee;
    }

    .attachment img {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    .attachment ul li p {
        text-align: center;
    }

.mail-comment a {
    padding-right: 10px;
}

.mail-comment img {
    width: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.amaran-wrapper {
    position: fixed;
}

    .amaran-wrapper.top {
        top: 50px;
        bottom: auto;
    }

    .amaran-wrapper.bottom {
        bottom: 0;
        top: auto;
    }

    .amaran-wrapper.left {
        left: 0;
    }

    .amaran-wrapper.right {
        right: 0;
        left: auto;
    }

    .amaran-wrapper.center {
        left: 0;
        right: auto;
    }

.amaran {
    width: 200px;
    display: block;
    background: rgba(0,0,0,0.7);
    padding: 3px;
    color: #fff;
    border-radius: 4px;
    display: none;
    font-family: Arial;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    text-align: left;
    min-height: 50px;
    margin: 10px;
}

    .amaran:first-child {
        margin-top: 0;
    }

.amaran-close {
    position: absolute;
    top: 2px;
    right: 2px;
    display: block;
    width: 20px;
    height: 20px;
}

.tree {
    min-height: 20px;
    padding: 16px 0;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

    .tree li {
        list-style-type: none;
        margin: 0;
        padding: 10px 5px 0;
        position: relative;
    }

        .tree li::before, .tree li::after {
            content: '';
            left: -20px;
            position: absolute;
            right: auto;
        }

        .tree li::before {
            border-left: 1px solid #999;
            bottom: 50px;
            height: 100%;
            top: 0;
            width: 1px;
        }

        .tree li::after {
            border-top: 1px solid #999;
            height: 20px;
            top: 25px;
            width: 25px;
        }

        .tree li span {
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border: 1px solid #999;
            border-radius: 5px;
            display: inline-block;
            padding: 3px 8px;
            text-decoration: none;
        }

        .tree li.parent_li > span {
            cursor: pointer;
        }

    .tree > ul > li::before, .tree > ul > li::after {
        border: 0;
    }

    .tree li:last-child::before {
        height: 30px;
    }

    .tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
        background: #eee;
        border: 1px solid #94a0b4;
        color: #000;
    }

.user-widget {
    padding: 20px;
    text-align: center;
}

    .user-widget .avatar img {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        display: inline-block;
        height: 90px;
        width: 90px;
        border: 5px solid rgba(255,255,255,0.3);
        margin-bottom: 30px;
    }

    .user-widget .subtitle, .user-widget .followers {
        color: #f2f2f2;
        font-size: 12px;
        font-weight: 400;
        display: block;
    }

    .user-widget h5 {
        color: #fff;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 6px;
        margin-top: 0;
    }

.menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .menu-items li a {
        display: block;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #e7ebee;
        padding: 0 20px;
        font-size: .875em;
        -webkit-transition: background-color .15s ease-in-out 0;
        transition: background-color .15s ease-in-out 0;
        color: #344644;
    }

    .menu-items li:last-child a {
        border-bottom: none;
    }

    .menu-items li a:hover {
        background-color: #e7ebee;
        text-decoration: none;
    }

    .menu-items li a i {
        width: 24px;
    }

    .menu-items li a span.label {
        margin-top: 10px;
    }

.user-profile {
    padding: 0;
    margin: 0;
}

    .user-profile .avatar {
        text-align: center;
    }

        .user-profile .avatar img {
            border-radius: 50%;
            -webkit-border-radius: 50%;
            display: inline-block;
            position: relative;
            height: 120px;
            width: 120px;
            border: 3px solid rgba(255,255,255,0.3);
        }

    .user-profile .subtitle {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        display: block;
    }

    .user-profile h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
        margin-bottom: 6px;
        margin-top: 0;
    }

.nav-section.nav-justified > li {
    display: table-cell;
    width: 1%;
}

.nav-section > li {
    position: relative;
}

    .nav-section > li > .section, .nav-section > li > a {
        position: relative;
        padding: 5px 10px;
        margin: 0;
        text-align: center;
    }

        .nav-section > li > .section:after, .nav-section > li > a:after {
            position: absolute;
            z-index: 1;
            content: "";
            width: 1px;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: -webkit-linear-gradient(top,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);
            background-image: -moz-linear-gradient(top,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);
            background-image: -o-linear-gradient(top,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);
            background-image: linear-gradient(to bottom,rgba(215,224,226,.2)0,#d7e0e2 50%,rgba(215,224,226,.2)100%);
        }

    .nav-section > li:last-child > .section:after, .nav-section > li:last-child > a:after {
        background: 0 0;
        filter: none;
    }

.tab-content {
    background: #fff;
}

.profile {
    padding: 35px 0 0 20px;
    list-style-type: none;
}

    .profile li {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .profile .profile-avatar img {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .profile .profile-text {
        margin-left: 70px;
    }

        .profile .profile-text h5 {
            color: #2a323f;
            margin: 0;
        }

            .profile .profile-text h5 a {
                font-weight: 600;
            }

.profile-text .profile-pic a {
    float: left;
    margin-right: 10px;
    width: 170px;
    height: 135px;
    overflow: hidden;
}

    .profile-text .profile-pic a img {
        width: 100%;
    }

.directory-box img {
    max-width: 100%;
    display: block;
    position: relative;
}

.directory-box h3 {
    max-width: 100%;
    display: block;
    position: relative;
}

.directory-box .directory-data {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 13px;
    background: #2c3f52;
    color: #fff;
}

    .directory-box .directory-data h3 {
        margin: 0;
        padding-bottom: 5px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    .directory-box .directory-data span {
        font-size: 12px;
    }

.directory-box .directory-link {
    text-align: center;
    padding: 6px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #9933ff;
    color: #fff;
}

.cs-style-4 .directory-box {
    -webkit-perspective: 1700px;
    -moz-perspective: 1700px;
    perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
    -moz-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-bottom: 2%;
    margin-right: 2%;
    overflow: hidden;
}

    .cs-style-4 .directory-box img {
        z-index: 10;
        -webkit-transition: -webkit-transform .4s;
        -moz-transition: -moz-transform .4s;
        transition: transform .4s;
        width: 100%;
    }

    .no-touch .cs-style-4 .directory-box:hover img, .cs-style-4 .directory-box .cs-hover img {
        -webkit-transform: translateY(-75px);
        -moz-transform: translateY(-75px);
        -ms-transform: translateY(-75px);
        transform: translateY(-75px);
        width: 100%;
    }

.cs-style-4 .directory-data {
    height: 75px;
    width: 100%;
    top: auto;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.no-touch .cs-style-4 .directory-box:hover .directory-data, .cs-style-4 .directory-box .cs-hover .directory-data {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s,opacity .1s;
    -moz-transition: -moz-transform 0.4s,opacity .1s;
    transition: transform 0.4s,opacity .1s;
}

.cs-style-4 .directory-link {
    position: absolute;
    right: 20px;
    top: 25px;
}

.user-selection {
    margin-bottom: 0;
    font-size: 12px;
    text-transform: capitalize;
}

    .user-selection .avatar img {
        width: 50px;
        height: 50px;
    }

.fontawesome-icon-list {
    margin-top: 22px;
}

    .fontawesome-icon-list .fa-hover a {
        display: block;
        color: #222;
        line-height: 32px;
        height: 32px;
        padding-left: 10px;
        border-radius: 4px;
    }

        .fontawesome-icon-list .fa-hover a .fa {
            width: 32px;
            font-size: 14px;
            display: inline-block;
            text-align: right;
            margin-right: 10px;
        }

        .fontawesome-icon-list .fa-hover a:hover {
            background-color: #695EA5;
            color: #fff;
            text-decoration: none;
        }

            .fontawesome-icon-list .fa-hover a:hover .fa {
                font-size: 28px;
                vertical-align: -6px;
            }

            .fontawesome-icon-list .fa-hover a:hover .text-muted {
                color: #bbe2d5;
            }

.chat-window {
    bottom: 0;
    position: fixed;
    right: 0;
    float: right;
}

    .chat-window > div > .panel {
        border-radius: 5px 5px 0 0;
    }

.icon_minim {
    padding: 2px 10px;
}

.msg_container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 5px 5px;
    max-height: 300px;
    overflow-x: hidden;
}

.top-bar {
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.msg_sent {
    padding: 10px 12px 20px;
    max-width: 100%;
    position: relative;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

    .msg_sent:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 0 10px 10px;
        border-color: transparent #FFF;
        display: block;
        width: 0;
        z-index: 1;
        right: -8px;
        bottom: 18px;
    }

.msg_receive {
    padding: 10px 10px 0;
    max-width: 100%;
    position: relative;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

    .msg_receive:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #FFF;
        display: block;
        width: 0;
        z-index: 1;
        left: -8px;
        top: 18px;
    }

.messages {
    background: #FFF;
}

    .messages > p {
        font-size: 13px;
        margin: 0 0 .2rem;
    }

    .messages > time {
        font-size: 11px;
        color: #ccc;
    }

.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}

    .msg_container img {
        width: 50px;
        height: 50px;
    }

.base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}

.msg_sent > time {
    float: right;
}

.msg_container_base::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#login {
    padding: 0;
}

    #login .form-wrap {
        width: 80%;
        margin: 0 auto;
    }

    #login h1 {
        color: #1fa67b;
        font-size: 18px;
        text-align: center;
        font-weight: 700;
        padding-bottom: 20px;
    }

    #login .form-group {
        margin-bottom: 25px;
    }

    #login .checkbox {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

        #login .checkbox.show:before {
            content: "\f00c";
            color: #1fa67b;
            font-size: 17px;
            margin: 1px 0 0 3px;
            position: absolute;
            pointer-events: none;
            font-family: 'FontAwesome';
        }

        #login .checkbox .character-checkbox {
            width: 25px;
            height: 25px;
            cursor: pointer;
            border-radius: 3px;
            border: 1px solid #ccc;
            vertical-align: middle;
            display: inline-block;
        }

        #login .checkbox .label {
            color: #6d6d6d;
            font-size: 13px;
            font-weight: 400;
        }

    #login .btn.btn-custom {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #login .forget {
        font-size: 13px;
        text-align: center;
        display: block;
    }

.footer {
    background: #fff;
    padding: 15px;
    color: #7A7676;
    font-size: 12px;
    position: static;
    bottom: 0;
    border-top: 1px solid #eff0f4;
}

.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.container footer {
    width: 79.5%;
    position: absolute;
    bottom: 0;
}
