﻿<div class="col-lg-6">
    <div class="dataTables_paginate paging_bootstrap pagination" ng-hide="(!pagesCount || pagesCount < 2)" style="margin: 0px; padding: 0px;">
        <ul>
            <li class="prev"><a href="#" ng-hide="page == 0" ng-click="search(0)"><<</a></li>
            <li class="prev"><a href="#" ng-hide="page == 0" ng-click="search(page-1)">← Prev</a></li>

            <li ng-repeat="n in range()" ng-class="{active: n == page}">
                <a ng-click="search(n)" ng-if="n == page">{{n+1}}</a>
                <a href="#" ng-click="search(n)" ng-if="n != page">{{n+1}}</a>
            </li>

            <li class="next"><a href="#" ng-hide="page == pagesCount - 1" ng-click="search(pagePlus(1))">Next → </a></li>
            <li class="next"><a href="#" ng-hide="page == pagesCount - 1" ng-click="search(pagesCount - 1)">>></a></li>
        </ul>
    </div>
</div>

