﻿<div id="sidemenu" class="sidemenu-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li class=""><a ng-href="/">Home<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="movies">Movies<i class="fa fa-film fa-fw pull-right"></i></a></li>
            <li><a ng-href="products/list">Products<i class="fa fa-film fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>