﻿<div class="top-header">
    <ul class="headermenu">
        <li>
            <div class="logo">
                <a href="#"> <img src="http://squaredesigns.net/adminer/images/logo.png" alt="" /> </a>
            </div>
            <div class="logo-icon text-center">
                <a href="#"> <img src="http://squaredesigns.net/adminer/images/logo_icon.png" alt="" /> </a>
            </div>
        </li>
        <li>
            <a class="toggle-btn">
                <i class="fa fa-bars"></i>
            </a>
        </li>
        <li>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-users"></i> <span class="badge">5</span>
            </button>
            <div class="dropdown-menu dropdown-menu-head pull-left">
                <h5 class="title">You have 5 Friends Requests </h5>
                <ul class="dropdown-list normal-list">
                    <li class="new">
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user1.png" alt="" />
                            </span> <span class="desc">
                                <span class="name">Administrator </span>
                                <span class="msg"> 2 Mutual Friends </span>
                            </span>
                            <span class="time">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Reject</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user2.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name">Emma Madison </span>
                                <span class="msg"> 5 Mutual Friends </span>
                            </span>
                            <span class="time">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Reject</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user3.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name"> Jonathan Smith </span>
                                <span class="msg"> 40 Mutual Friends </span>
                            </span>
                            <span class="time">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Reject</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user4.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name">Mark Henry </span>
                                <span class="msg"> 20 Mutual Friends </span>
                            </span>
                            <span class="time">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Reject</button>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user5.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name">Sophia Isabella </span>
                                <span class="msg"> 10 Mutual Friends </span>
                            </span>
                            <span class="time">
                                <button class="btn btn-success btn-xs">Accept</button>
                                <button class="btn btn-danger btn-xs">Reject</button>
                            </span>
                        </a>
                    </li>
                    <li class="new"> <a href="#"> Read All Request </a> </li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-envelope-o"></i>
                <span class="badge">5</span>
            </button>
            <div class="dropdown-menu dropdown-menu-head pull-left">
                <h5 class="title">You have 5 Mails </h5> <ul class="dropdown-list normal-list">
                    <li class="new">
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user1.png" alt="" />
                            </span> <span class="desc">

                                <span class="name">
                                    Administrator
                                    <span class="time">Just Now</span>
                                </span>
                                <span class="msg">Lorem ipsum dolor sit amet...</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user2.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name">
                                    Jonathan Smith
                                    <span class="time"> 10 Min ago </span>
                                </span> <span class="msg">Lorem ipsum dolor sit amet... </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user3.png" alt="" />
                            </span> <span class="desc">
                                <span class="name">
                                    Jane Doe
                                    <span class="time"> 1 Hour ago </span>
                                </span>
                                <span class="msg">Lorem ipsum dolor sit amet...</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user4.png" alt="" />
                            </span> <span class="desc">
                                <span class="name">Mark Henry <span class="time"> 2 days ago </span> </span> <span class="msg">Lorem ipsum dolor sit amet...</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="thumb">
                                <img src="http://squaredesigns.net/adminer/images/photos/user5.png" alt="" />
                            </span>
                            <span class="desc">
                                <span class="name">
                                    Jim Doe
                                    <span class="time"> 18 sept 2014 </span>
                                </span>
                                <span class="msg">Lorem ipsum dolor sit amet...</span>
                            </span>
                        </a>
                    </li>
                    <li class="new"> <a href="#"> Read All Mails </a> </li>
                </ul>
            </div>
        </li>
        <li>
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="badge">4</span>
            </button>
            <div class="dropdown-menu dropdown-menu-head pull-left">
                <h5 class="title">Notifications</h5> <ul class="dropdown-list normal-list">
                    <li class="new">
                        <span class="label label-success"><i class="fa fa-check"></i></span> <a href="#">
                            <span class="name">Server #1 is Live Now. </span>
                        </a> <em class="small">34 mins</em>
                    </li>
                    <li class="new">
                        <span class="label label-primary"><i class="fa fa-user"></i></span> <a href="#">
                            <span class="name"> New User Registered </span>
                        </a> <em class="small">1 hrs</em>
                    </li>
                    <li class="new">
                        <span class="label label-danger"><i class="fa fa-bolt"></i></span> <a href="#">
                            <span class="name">CPU at 92% on server #3 </span>
                        </a> <em class="small">4 hrs</em>
                    </li>
                    <li class="new">
                        <span class="label label-warning"><i class="fa fa-warning"></i></span> <a href="#">
                            <span class="name">Database overloaded. </span>
                        </a> <em class="small">6 hrs</em>
                    </li>
                    <li class="new">
                        <span class="label label-info"><i class="fa fa-shopping-cart"></i></span> <a href="#">
                            <span class="name"> New Order received </span>
                        </a> <em class="small">12 hrs</em>
                    </li>
                    <li class="new">
                        <span class="label label-warning"><i class="fa fa-times"></i></span> <a href="#">
                            <span class="name"> Application Error </span>
                        </a> <em class="small">1 day ago</em>
                    </li>
                    <li class="new">
                        <span class="label label-success"><i class="fa fa-check"></i></span> <a href="#">
                            <span class="name"> Installation succeed</span>
                        </a> <em class="small">2 day ago</em>
                    </li>
                    <li class="new"> <a href="#"> See All Notifications </a> </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="menu-right">
        <ul class="header-nav nav navbar-nav navbar-right">

            <li>
                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{username}}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li> <a href="#"> <i class="fa fa-user"></i> Edit Profile </a> </li>
                    <li> <a href="#" ng-click="logout();" ng-if="userData.isUserLoggedIn"> <i class="fa fa-tasks"></i> Logout </a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>