﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" ng-app="WebApiAngular">
<head>
    <title>Products</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!--[if lt IE 9]>
        <script src="http://squaredesigns.net/adminer/js/html5shiv.js"></script>
        <script src="http://squaredesigns.net/adminer/js/respond.min.js"></script>
    <![endif]-->

    <link href="~/web/libraries/css/style.css" rel="stylesheet" />
    <link href="~/web/libraries/css/style-responsive.css" rel="stylesheet" />
    <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/web/libraries/css/bootstrap-fileupload.min.css">
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="adminCtrl">
    <div ng-if="userData.isUserLoggedIn">
        <side-bar></side-bar>
        <div class="main-content">
            <div class="sticky-topbar">
                <div class="nav navbar-nav">
                    <top-bar></top-bar>
                </div>
            </div>
            <div class="wrapper">
                <div ng-view></div>
            </div>
            <div class="footer"> 2016 &copy; Web Api and Angular by Hong Gia Cuong  and Hoang Quoc Cuong </div>
        </div>
    </div>

    <div ng-if="!userData.isUserLoggedIn">
        <div ng-view></div>
    </div>

    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/components")

    <script src="~/web/libraries/js/bootstrap.js"></script>
    <script src="~/web/libraries/js/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="~/web/libraries/js/bootstrap-fileupload.min.js"></script>
</body>
</html>