﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="WebApiAngular">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Api & Angular</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-controller="publicCtrl">
    <top-menu></top-menu>
    <div class="row-offcanvas row-offcanvas-left">
        <side-menu></side-menu>
        <div id="main">
            <div class="col-md-12">
                <p class="visible-xs">AAAAAAAAAAA
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
                </p>
                <div class="page {{ pageClass }}" ng-view></div>
            </div>
        </div>
    </div><!--/row-offcanvas -->
    @Scripts.Render("~/bundles/libraries")
    @Scripts.Render("~/bundles/components")

</body>
</html>
