﻿<nav class="sidebar-nav sidebar-fixed">
    <div class="dropdown profile-left">
        <a href="#">
            <img src="http://squaredesigns.net/adminer/images/photos/user6.png" alt="" width="55" height="55" class="img-thumbnail" />
        </a>
        <div class="profile-box pull-right">
            <h4>Administrator</h4>
            <ul class="list-inline text-white">
                <li> <a href="#" class="btn btn-success btn-xs"> <i class="fa fa-user"></i> </a> </li>
                <li id="locked"> <a href="#" class="btn btn-warning btn-xs"> <i class="fa fa-envelope"></i> </a> </li>
                <li id="logout"> <a href="javascript:void(0)" class="btn btn-danger btn-xs"> <i class="fa fa-power-off"></i> </a> </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="visible-xs navbar-brand">Sidebar menu</span>
            </div>
            <div class="navbar-collapse collapse sidebar-navbar-collapse">
                <ul class="nav navbar-nav" id="sidenav">
                    <li class="active">
                        <a href="#" data-toggle="collapse" data-target="#toggleDemo1" data-parent="#sidenav" class="collapsed">
                            <span class="glyphicon glyphicon-cloud"></span> Product <span class="caret pull-right"></span>
                        </a>
                        <div class="collapse" id="toggleDemo1" style="height: 0px;">
                            <ul class="nav nav-list">
                                <li><a ng-href="products/list">View Products</a></li>
                                <li><a ng-href="products/add">Add New Product</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#toggleDemo2" data-parent="#sidenav" class="collapsed">
                            <span class="glyphicon glyphicon-inbox"></span> Customers <span class="caret pull-right"></span>
                        </a>
                        <div class="collapse" id="toggleDemo2" style="height: 0px;">
                            <ul class="nav nav-list">
                                <li><a ng-href="customers/list">View Customer</a></li>
                                <li><a ng-href="customers/register">Register customer</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span> About Page</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-lock"></span> Contact Page</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>