﻿<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="/">Simple Commerce</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="about">About<i class="fa fa-info-circle fa-fw pull-right"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="userData.isUserLoggedIn" style="margin-right:8px;">
            <li class="userinfo"><a href="/">{{username}}<i class="fa fa-user fa-fw"></i></a></li>
            <li style="line-height:47px;">
                <button type="button" class="btn btn-danger btn-sm" ng-click="logout();" ng-if="userData.isUserLoggedIn">
                    Logout
                    <i class="fa fa-sign-out fa-fw pull-right"></i></a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right nav-pills nav-stacked" ng-if="!userData.isUserLoggedIn" style="margin-right:8px;">
            <li style="line-height:47px;"><a ng-href="login" ng-if="!userData.isUserLoggedIn">Login<i class="fa fa-sign-in fa-fw pull-right"></i></a></li>
        </ul>

    </div>
</div>