﻿<ul class="breadcrumb">
    <li> <a href="#"> <i class="fa fa-home"></i> </a> </li>
    <li> Products </li>
    <li class="active"> Add New Product </li>
</ul>
<div class="row">
    <div class="col-lg-12" id="editProductWrapper">
        <form id="basicForm" class="form-horizontal" novalidate angular-validator name="addProductForm" angular-validator-submit="AddProduct()">
            <div class="panel">
                <div class="panel-heading"> Add <strong>{{product.Title}}</strong> Product </div>
                <div class="col-lg-3">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img ng-src="/web/libraries/images/no-image.gif" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file">
                                            <span class="fileupload-new">
                                                <i class="fa fa-paper-clip"></i> Select image
                                            </span>
                                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                            <input type="file" ng-file-select="prepareFiles($files)" class="default" required />
                                        </span>
                                        <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">
                                            <i class="fa fa-trash"></i> Remove
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input name="title" type="text" ng-model="product.Title" validate-on="blur" required required-message="'Product title is required'" class="form-control" placeholder="Title..." />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <select ng-model="product.CategoryId" class="form-control" ng-options="option.ID as option.Name for option in categories" id="category" name="category" title="Please select something!" required></select>
                                <input type="hidden" name="CategoryId" ng-value="product.CategoryId" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Director <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="product.Director" name="director"
                                       validate-on="blur" required required-message="'Product director is required'" class="form-control" placeholder="Director..." />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Writer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="product.Writer" name="writer"
                                       validate-on="blur" required required-message="'Product writer is required'" class="form-control" placeholder="Writer..." />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Producer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="product.Producer" name="producer"
                                       validate-on="blur" required required-message="'Product producer is required'" class="form-control" placeholder="Producer..." />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Youtube Trailer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="url" ng-model="product.TrailerURI" name="trailerURI"
                                       validate-on="blur" required required-message="'Product trailer is required'" ng-pattern="/^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$/"
                                       invalid-message="'You must enter a valid YouTube URL'" class="form-control" placeholder="Url..." />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <textarea ng-model="product.Description" name="description" rows="5"
                                          validate-on="blur" required required-message="'Product description is required'" class="form-control" placeholder="Description..."></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Released Date <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" name="dateReleased" datepicker-popup="{{format}}" ng-model="product.ReleaseDate" is-open="datepicker.opened" datepicker-options="dateOptions" ng-required="true" datepicker-append-to-body="true" close-text="Close"
                                           validate-on="blur" required required-message="'Date Released is required'" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <input type="submit" class="btn btn-primary" value="Create product" />
                            <a class="btn btn-default" ng-href="products/list">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
