﻿<div class="panel panel-primary">
    <div class="panel-heading">
        Confirmation
    </div>
    <div class="panel-body">
        <div class="">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <input type="hidden" class="form-control" ng-model="DeletedProduct.ID">
                    </div>
                </div>
            </div>
            <h5><i>Are you sure you want to delete </i><strong>{{DeletedProduct.Title}}</strong>?</h5>
        </div>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" ng-click="cancelDelete()">No</button>
            <button type="button" class="btn btn-primary" ng-click="deleteProduct()">Yes</button>
        </div>
    </div>
</div>