﻿<ul class="breadcrumb">
    <li> <a href="#"> <i class="fa fa-home"></i> </a> </li>
    <li> Products </li>
    <li class="active"> View Detail Product </li>
</ul>
<div class="row">
    <div class="col-lg-12" id="editProductWrapper">
        <form id="basicForm" class="form-horizontal">
            <div class="panel" ng-if="!loadingProduct">
                <div class="panel-heading"><strong>{{product.Title}}</strong> in view mode. </div>
                <div class="col-lg-3">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img check-image ng-src="/web/upload/images/products/{{product.Image}}" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input name="title" type="text" value="{{product.Title}}" class="form-control" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Category <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <select disabled class="form-control">
                                    <option>{{product.Category}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Director <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="{{product.Director}}" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Writer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="{{product.Writer}}" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Producer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" value="{{product.Producer}}" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Youtube Trailer <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <input type="url" class="form-control" value="{{product.TrailerURI}}" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Description <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <textarea rows="5" class="form-control" disabled>{{product.Description}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Released Date <span class="asterisk">*</span></label>
                            <div class="col-sm-6">
                                <p class="input-group">
                                    <input type="text" class="form-control" value="{{product.ReleaseDate}}" disabled />
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                            <a class="btn btn-primary" ng-href="products/edit/{{product.ID}}">Edit Product</a>
                            <a class="btn btn-default" ng-href="products/list">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
