﻿<ul class="breadcrumb">
    <li> <a href="#"> <i class="fa fa-home"></i> </a> </li>
    <li> Products </li>
    <li class="active"> List </li>
</ul>

<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <div class="panel-body">
                <div class="editable-table">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="btn-group pb-10">
                                <a id="editable-sample_new" class="btn btn-primary" ng-href="products/add">Add New <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="dataTables_paginate paging_bootstrap pagination" style="margin: 0px; padding: 0px;">
                                <form class="navbar-form navbar-left" role="search" style="padding: 0px;">
                                    <div class="form-group">
                                        <input type="search" ng-model="filterProducts" class="form-control shortInputSearch" placeholder="Filter, search products..">
                                    </div>
                                    <button class="btn btn-default" ng-click="search();"><span class="glyphicon glyphicon-search"></span></button>
                                    <button class="btn btn-default" ng-click="clearSearch();"><span class="glyphicon glyphicon-remove-sign"></span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="editable-sample">
                        <thead>
                            <tr>
                                <th width="3%" class="text-center check-all">
                                    <div class="checkbox rvm-checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="checkbox" ng-true-value="true" ng-false-value="false" ng-checked="checkbox == true" ng-click="checkedAndSynchronizeAllProducts(Products);" class="check" id="checkAll"> <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </th>
                                <th>Photo</th>
                                <th>Title</th>
                                <th>Director</th>
                                <th>Writer</th>
                                <th>Producer</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" ng-repeat="product in Products | filter:filterProducts">
                                <td>
                                    <div class="checkbox rvm-checkbox">
                                        <label>
                                            <input type="checkbox" ng-change="synchronizeSingleProduct(bool, product)" ng-model="bool" ng-checked="isCheckedSingleProduct(product.ID)" class="check">
                                            <span class="fa fa-check"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <img height="50" check-image ng-src="/web/upload/images/products/{{product.Image}}" alt="{{product.Title}}" />
                                </td>
                                <td>{{product.Title}}</td>
                                <td>{{product.Director}}</td>
                                <td>{{product.Writer}}</td>
                                <td>{{product.Producer}}</td>
                                <td>
                                    <a class="edit btn btn-default btn-info btn-sm" ng-href="products/detail/{{product.ID}}" title="View {{product.Title}} details"> View Detail </a>
                                </td>
                                <td>
                                    <button class="delete btn btn-default btn-danger btn-sm" ng-click="openDeletedDialog(product);">Delete<i class="fa fa-pencil pull-right"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row" ng-show="getSearchUndefined(filterProducts)">
                        <div class="col-lg-6" ng-if="Products.length > 0">
                            <button ng-disabled="!isDisabled" class="delete btn btn-default btn-danger btn-sm" ng-click="openMultipleDeletedDialog(selectedProducts);">Delete All Products<i class="fa fa-pencil pull-right"></i></button>
                        </div>
                        <custom-pager page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></custom-pager>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $("#checkAll").click(function () {
        $(".check").prop('checked', $(this).prop('checked'));
    });
</script>