﻿<section style="margin: 100px auto; width: 570px;">
    <div class="panel-body">
        <div id="loginbox" class="mainbox col-sm-10 col-sm-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title"> Sign In </div>
                </div>
                <div style="padding-top: 30px" class="panel-body">
                    <form id="loginform" class="form-horizontal" role="form" novalidate angular-validator name="userLoginForm" angular-validator-submit="login()">
                        <div class="iconic-input right">
                            <label for="inputUsername" class="text-muted">Username</label>
                            <input type="text" class="form-control padding-horizontal-15" placeholder="username" id="inputUsername" name="inputUsername" ng-model="user.username" validate-on="blur" required required-message="'Username is required'" />
                        </div>
                        <div class="iconic-input right">
                            <label for="inputPassword" class="text-muted">Password</label>
                            <input type="password" class="form-control lock-input" placeholder="password" id="inputPassword" name="inputPassword" ng-model="user.password" validate-on="blur" required required-message="'Password is required'" />
                        </div>
                        <div class="input-group pull-left">
                            <div class="checkbox rvm-checkbox">
                                <label>
                                    <input type="checkbox" value="1">
                                    <span class="fa fa-check"></span>
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pull-right ph-10">
                                <button type="submit" class="pull-right btn btn-success">
                                    Login <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid #888; padding-top: 15px; font-size: 85%">
                                    Don't have an account ! Create an account <a ng-href="register"> <u>here</u> </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>